// =============================================================================
// Default Variables
// =============================================================================

// Whats this do?
$breakpoints: (
    min: 320px,
    xs: 340px,
    sm: 600px,
    md: 900px,
    lg: 1300px,
    xl: 1600px,
    xxl: 1900px,
    xxxl: 2200px
) !default;

// Whats this do?
$grid-padding-left: (
    min: 16px,
    xxxl: 400px
) !default;

// Whats this do?
$grid-padding-right: $grid-padding-left !default;

// Whats this do?
$horizontal-gutters: (
    min: 8px,
    xxxl: 16px
) !default;

$vertical-gutters: $horizontal-gutters !default;

$grid-container-default-padding-top: 0 !default;
$grid-container-default-padding-bottom: 0 !default;
$grid-container-default-margin-top: 0 !default;
$grid-container-default-margin-bottom: 0 !default;

$grid-column-default-margin-top: 0 !default;

// Whats this do?
$font-sizes: (
    min: 12px,
    xxxl: 20px
) !default;

// Whats this do?
$cap-heights: (
    sans: 0.7
) !default;

$overlay-columns: 12 !default;

// Whats this do?
$colour-baseline-grid: rgba(#0f0, 0.75) !default;
$colour-column-overlay: rgba(#f00, 0.25) !default;
$colour-columns: rgba(#F90, 0.75) !default;
$colour-blocks: rgba(#f0f, 0.75) !default;
$colour-rows: rgba(#ff0, 0.75) !default;
$colour-grids: rgba(#00f, 0.75) !default;
$colour-nested-grids: rgba(#0FF, 0.75) !default;