@import "./utilities/map";
@import "./utilities/strip-unit";

// =============================================================================
// Grid
// =============================================================================

/*
 * Short description goes here.
 *
 * Usage:
 * @include ...
 */
@mixin grid-container(
    $default-column-width: null
) {
    width: 100%; // Prevents collapse when flex parent
    position: relative;

    @include grid-container-padding;

    &__row {
        @include grid-row(
            $default-column-width: $default-column-width
        );
    }
    
    // Apply default column widths as a convenience function for straightforward use cases, where all columns are the same width.
    @if ($default-column-width != null) {
        &__column {
            @include grid-column(
                $width: $default-column-width
            );
        }
    }
}

@mixin grid-container-padding {
    @if (is-valid-property-map($grid-container-padding-left)) {
        @include fluid-property-map(
            $property: "padding-left",
            $values: $grid-container-padding-left
        );
    }

    @if (is-valid-property-map($grid-container-padding-right)) {
        @include fluid-property-map(
            $property: "padding-right",
            $values: $grid-container-padding-right
        );
    }
}

/*
 * Short description goes here.
 *
 * Usage:
 * @include ...
 */
@mixin grid-row(
    $default-column-width: null,
    $nested: false
) {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;

    @if(is-valid-property-map($vertical-gutters)) {
        @include grid-gutter($side: top, $multiplier: -1);
    }

    @if(is-valid-property-map($horizontal-gutters)) {
        @include grid-gutter($side: left, $multiplier: -0.5);
        @include grid-gutter($side: right, $multiplier: -0.5);
    }
}

/*
 * Short description goes here.
 *
 * Usage:
 * @include ...
 */
@mixin grid-column(
    $width,
    $gutter-left: 0.5,
    $gutter-right: 0.5,
    $gutter-top: 1,
    $gutter-bottom: 0,
    $spill-direction: null,
    $margin-left: null,
    $margin-right: null
) {
    position: relative;
    min-width: 0;

    @include grid-column-width($width);
    @include grid-column-gutters($gutter-top, $gutter-bottom, $gutter-left, $gutter-right);

    @if $spill-direction != null {
        @include grid-column-spill($spill-direction);
    }
    
    @if ($margin-left != null) {
        @include grid-column-margin(left, $margin-left);
    }

    @if ($margin-right != null) {
        @include grid-column-margin(right, $margin-right);
    }

    .show-block-children & {
        box-shadow: inset 0px 0px 0px 4000px $colour-blocks;
    }
}

@mixin grid-column-gutters($top-multiplier, $bottom-multiplier, $left-multiplier, $right-multiplier) {
    @if (is-valid-property-map($horizontal-gutters)) {
        @include grid-gutter(
            $side: left,
            $multiplier: $left-multiplier
        );
        @include grid-gutter(
            $side: right,
            $multiplier: $right-multiplier
        );
    }

    @if (is-valid-property-map($vertical-gutters)) {
        @include grid-gutter(
            $side: top,
            $multiplier: $top-multiplier
        );
        @include grid-gutter(
            $side: bottom,
            $multiplier: $bottom-multiplier
        );
    }
}

@mixin grid-column-width($width) {
    @if(is-valid-property-map($width)) {
        $width: map-strip-unit($width);
        $width: map-percentage($width);
        @include property-map('width', $width);
    } @else if type-of($width) == "number" {
        width: percentage($width);
    } @else if $width == null {

    } @else {
        @debug('Column width must be a map or a number.');
    }
}

@mixin grid-column-margin($side, $width) {
    @if(is-valid-property-map($width)) {
        $width: map-strip-unit($width);
        $width: map-percentage($width);
        @include property-map('margin-#{$side}', $width);
    } @else if type-of($width) == "number" {
        width: percentage($width);
    } @else {
        @debug('Column margin width must be a map or a number.');
    }
}

/*
 * Add a gutter to a chosen size of an element.
 * This forms the core of the mixins below.
 *
 * Usage:
 * @include grid-gutter($side: top, $multiplier: 1);
 */
@mixin grid-gutter($side, $multiplier: 0.5) {
    $values: null;
    
    @if($side == 'left' or $side == 'right') {
        $values: $horizontal-gutters;
    } @else if($side == 'top' or $side == 'bottom') {
        $values: $vertical-gutters;
    }

    @if (not is-valid-property-map($values)) {
        @error ('Grid gutters must be a map.');
    }

    $padding-or-margin: if($multiplier < 0, "margin", "padding");

    $property: "#{$padding-or-margin}-#{$side}";

    $values: map-multiply($values, $multiplier);

    @include fluid-property-map(
        $property: $property,
        $values: $values
    );
}

/*
 * Short description goes here.
 *
 * Usage:
 * @include ...
 */
@mixin grid-column-spill($direction) {
    @if ($direction != left and $direction != right) {
        @error('Invalid spill direction value: #{$direction}');
    }

    @if $direction == left and not is-valid-property-map($grid-container-padding-left) {
        @error('$grid-container-padding-left must be set in order to spill a column to the left.');
    }

    @if $direction == right and not is-valid-property-map($grid-container-padding-right) {
        @error('$grid-container-padding-right must be set in order to spill a column to the right.');
    }

    $opposite: get-opposite-direction($direction);
    $padding: if($direction == left, $grid-container-padding-left, $grid-container-padding-right);
    $gutters: map-multiply($horizontal-gutters, 0.5);
    $distance: map-subtract($padding, $gutters);
    // $distance: $padding;

    // $distance-minus-padding: map-subtract($padding, $horizontal-gutters);
    
    position: relative;

    @include fluid-property-map(
        $property: #{$direction},
        $values: $distance,
        $multiplier: -1
    );

    > * {
        @include fluid-property-map(
            "margin-#{$opposite}",
            $values: $distance,
            $multiplier: -1
        );
    }
}

@function get-opposite-direction($direction) {
    @if($direction == left) {
        @return right;
    } @else if($direction == right) {
        @return left;
    } @else if($direction == top) {
        @return bottom;
    } @else if($direction == bottom) {
        @return top;
    } @else {
        @error('Invalid direction: #{$direction}');
    }
}

@mixin grid-column-spill-inset-contents($direction) {
    // Make this into a function; is used also in grid-column-spill
    @if ($direction != left and $direction != right) {
        @error('Invalid spill direction value: #{$direction}');
    }

    $padding: if($direction == left, $grid-container-padding-left, $grid-container-padding-right);
    $gutters: map-multiply($horizontal-gutters, 0.5);
    $distance: map-subtract($padding, $gutters);

    @if($direction == left) {
        @include fluid-property-map('padding-left', $distance);
    } @else if($direction == right) {
        @include fluid-property-map('padding-right', $distance);
    }
}

@mixin grid-overlay {
    @include grid-container($default-column-width: $overlay-column-width);

    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;

    display: block;
    visibility: hidden;
    margin-top: 0;

    html.show-grid & {
        visibility: visible;
    }

    &__row {
        height: 100vh;
        margin-top: 0;
    }

    &__column:not(:first-child):before {
        content: '';
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        width: 1px;
        background-color: $colour-columns;
        position: absolute;
    }

    &__column {
        padding-top: 0;
        .show-block-children & {
            box-shadow: none !important;
        }
    }

    &__column:after {
        display: block;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: $colour-columns;

        @if (not is-valid-property-map($horizontal-gutters)) {
            border-right: 1px solid $colour-columns;
        }
    }
}

@mixin grid-column-to-property($property, $width) {
    $widths: ();

    @each $key, $left-value in $grid-container-padding-left {
        $right-value: map-get($grid-container-padding-right, $key);
        $breakpoint: map-get($breakpoints, $key);
        $calculated-width: ($breakpoint - $left-value - $right-value) * $width;

        $widths: map-merge($widths, ($key: $calculated-width));
    }

    @include fluid-property-map($property, $widths);
}

// Validate variables

@if(not map-keys-correspond-to-keys-in-other-map($grid-container-padding-left, $breakpoints)) {
    @error('The breakpoints in $grid-container-padding-left do not all correspond to breakpoints in $breakpoints.');
}

@if(not map-keys-correspond-to-keys-in-other-map($grid-container-padding-right, $breakpoints)) {
    @error('The breakpoints in $grid-container-padding-right do not all correspond to breakpoints in $breakpoints.');
}

@if(not maps-have-same-keys($grid-container-padding-left, $grid-container-padding-right)) {
    @error('The breakpoint IDs in $grid-container-padding-left and $grid-container-padding-left do not match.');
}

@if(not maps-have-same-keys($grid-container-padding-left, $horizontal-gutters)) {
    @error('The breakpoint IDs in $grid-container-padding-left and $horizontal-gutters do not match.');
}
