// =============================================================================
// Fluid Property
// =============================================================================

/*
 * Short description goes here.
 *
 * Usage:
 * @include ...
 */

@mixin fluid-property(
    $property,
    $min-value,
    $max-value,
    $min-breakpoint,
    $max-breakpoint,
    $applyBelow: true,
    $applyAbove: true,
    $multiplier: 1
) {
    @if (not unitless($min-breakpoint)) {
        @error '$min-breakpoint must be unitless.';
    }

    @if (not unitless($max-breakpoint)) {
        @error '$max-breakpoint must be unitless.';
    }

    $difference: ($max-value - $min-value) / ($max-breakpoint - $min-breakpoint) * 100vw;
    $adder: ($min-value * $max-breakpoint - $max-value * $min-breakpoint) / ($max-breakpoint - $min-breakpoint) + 0px;
    $min-breakpoint: $min-breakpoint + 0px;
    $max-breakpoint: $max-breakpoint + 0px;
    $min-value: $min-value + 0px;
    $max-value: $max-value + 0px;

    // If $applyBelow is true, the lower value will also apply below the $min-breakpoint breakpoint.
    @if $applyBelow {
        @media (max-width: #{$min-breakpoint}) {
            #{$property}: calc(#{$min-value} * #{$multiplier});
        }
    }

    // If $applyAbove is true, the higher value will also apply above the $max-breakpoint breakpoint.
    @if $applyAbove {
        @media (min-width: #{$max-breakpoint}) {
            #{$property}: calc(#{$max-value} * #{$multiplier});
        }
    }

    // Apply the tween calculation from the $min-breakpoint to $max-breakpoint breakpoints.
    @media (min-width: #{$min-breakpoint}) and (max-width: #{$max-breakpoint}) {
        #{$property}: calc((#{$difference} + #{$adder}) * #{$multiplier});
    }
}

/*
 * Short description goes here.
 *
 * Usage:
 * @include ...
 */
@mixin fluid-property-map(
    $property: null,
    $values: null,
    $multiplier: 1,
    $breakpoints: $breakpoints
) {
    $selected-breakpoint-ids: map-keys($values);
    $selected-breakpoint-values: map-values($values);

    @if ($property == null) {
        @error 'Property must be specified.';
    }

    @if ($values == null) {
        @error 'Value must be specified.';
    }

    @for $i from 1 through length($selected-breakpoint-ids) - 1 {
        $is-last: $i == length($selected-breakpoint-ids) - 1;
        $is-first: $i == 1;

        $min-value: strip-unit(nth($selected-breakpoint-values, $i));
        $max-value: strip-unit(nth($selected-breakpoint-values, $i + 1));

        $min-breakpoint-id: nth($selected-breakpoint-ids, $i);
        $max-breakpoint-id: nth($selected-breakpoint-ids, $i + 1);

        $min-breakpoint: strip-unit(
            map-get($breakpoints, $min-breakpoint-id)
        );
        $max-breakpoint: strip-unit(
            map-get($breakpoints, $max-breakpoint-id)
        );

        @if ($max-breakpoint == null) {
            @error 'The value "#{$max-breakpoint-id}" doesn\'t correspond to a breakpoint defined in $breakpoints.';
        }

        @if ($min-breakpoint == null) {
            @error 'The value "#{$min-breakpoint-id}" doesn\'t correspond to a breakpoint defined in $breakpoints.';
        }

        @include fluid-property(
            $property: $property,
            $min-value: $min-value,
            $max-value: $max-value,
            $min-breakpoint: $min-breakpoint,
            $max-breakpoint: $max-breakpoint,
            $applyAbove: $is-last,
            $applyBelow: $is-first,
            $multiplier: $multiplier
        );
    }
}