@function map-add($map1, $map2) {
    $output: ();

    @each $key, $value in $map1 {
        $adder: 0;

        @if(type-of($map2) == "map") {
            $adder: map-get($map2, $key);
        }

        $output: map-merge($output, ($key: $value + $adder));
    }

    @return $output;
}

@function map-multiply($map, $multiplier) {
    $output: ();

    @each $key, $value in $map {
        $output: map-merge($output, ($key: $value * $multiplier));
    }

    @return $output;
}

// TODO multiply maps by maps, assert same keys using validator
// TODO add maps to maps, assert same keys using validator